.header {
    background: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 7%;
    border-bottom: 0.8rem solid #d1111c;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header a {
    margin: 0.7rem;
    margin-left: 3rem;
    font-size: 1.6rem;
    color: black;


}